version: 2
jobs:
  update:
    docker:
      - image: circleci/node:7.10
    working_directory: ~/repo
    steps:
      - checkout
      - setup_remote_docker:
          docker_layer_caching: true
      - run: ./updater.sh

workflows:
  version: 2
  update:
    jobs:
      - update:
          filters:
            branches:
              only: /^update-.*/
